/* Header Section Start */
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
}

a {
  color: black;
}
/* Header Section End */

/* Content Section Start */
.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  border: 2px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.narrative {
  margin-top: 16px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  /*width: 300px;*/
}

h2 {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

p {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.text-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.news-bites {
  border: 1px solid black;
}

.news-bites h3 {
  margin-bottom: 41px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.image-content {
  border: 1px solid black;
  margin-top: 15px;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  */
}

.column.large {
  display: flex;
  width: 630px;
  border: 1px solid black;
}

.lead-story .image-content span {
  margin-left: 20px;
}

.column.medium {
  display: flex;
  width: 300px;
  border: 1px solid black;
}

.column.small {
  display: flex;
  width: 240px;
  border: 1px solid black;
}
